.table .thead-dark th{ 
    color: gainsboro;
    font-size: 1.2em;
    transition: all .3s;
}

.table .thead-dark th:nth-child(-n+4):hover{
    text-decoration: underline;
    color: white;
    text-shadow: 0 0 1px gainsboro, 0 0 1px gainsboro;
    cursor: pointer;
}
#library > div > div.col-7 > table > thead > tr > th:nth-child(4){
    pointer-events:none;   
}
.noValid{

    border: 2px solid red;
    background-color: rgb(247, 201, 222);
}
.valid{
    border: 2px solid green;
}


